{% extends ('base.html') %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='fullCalendar/lib/main.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='fullCalendar/lib/main.js')}}"></script>
<div class="main-content">
<h2 id="title_2">Planning des appareils</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category=="success" %}
        <h3 class="success">{{ message }}</h3>
    {% endif %}
    {% if category=="error" %}
        <h3 class="error">{{ message }}</h3>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}


<!-- <table class="table">
    <tr>
        <th>Pilote</th><th>Appareil</th><th>Date</th><th>Heure</th><th>Durée</th>
    </tr>
{% for item in val %}
    <tr><td>{{item['pilote']}}</td><td>{{item['appareil']}}</td>
        <td>{{item['date']}}</td><td>{{item['heure']}}</td>
        <td>{{item['duree']}} min</td></tr>
{% endfor %}
</table> -->

{% block calendar %}
{% block scripts %}
<button class="card" id="btn-refresh">Rafraîchir la page</button>
<div id='calendar'></div>
<script>
const btn_refresh = document.querySelector("#btn-refresh")
btn_refresh.addEventListener('click', ()=>{window.location.reload()});
let calendarEl = document.getElementById('calendar');
let calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'timeGridWeek',
    slotMinTime: '01:00:00',
    aspectRatio: 2,
    headerToolbar: {
        left: "prev next today",
        center: "title",
        right: "dayGridMonth timeGridWeek"
    },
    buttonText: {
        today: "Aujourd'hui",
        month: "Mois",
        week: "Semaine",
    },
    selectable: false,
    selectOverlap: false,
    nowIndicator: true,
    slotMinTime: "06:00:00",
    slotLabelInterval: "01:00:00",
    slotDuration: '00:30:00',
    scrollTime: '01:00:00',
    unselect: (event)=> {
        console.log(event)
    },
    eventClick: (infos) => {
            let title = confirm("Supprimer la rèservation ?")
            if (title) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "../public/remove_rent", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                start : infos.event["startStr"],
                user : infos.event["title"]
            }));
            if (xhr.readyState == 4) {
                console.log("Remove : " + infos.event.title)
        } else {
            console.log("Pas Remove !")
            location.reload()
        }
    }
    //window.location.reload()
    },

    dateClick: (infos) => {
        date = infos.dateStr
        date = date.split("T")
        jour = date[0].split("-").reverse()
        jour = jour.toString()
        console.log(jour)
        jour = jour.replace("," , "/")
        console.log(jour)
        //jour.replace(",", " ")
        dateFinal = date[1].split("+")
        let title = confirm("Vous avez réservé le "+jour +" à "+dateFinal[0] +"\nVous validez ?")
        if (title == true) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "../public/add_rent", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                user: '',
                start : infos.dateStr
            }));
            if (xhr.readyState == 4) {
                console.log("Validé : " + infos.dateStr)
            }
        }
        window.location.reload();
    },
    events : [
        {% for event in events %}
            {
                title : '{{event.username}}',
                start: '{{event.start}}',
                end: '{{event.end}}'
            },
        {% endfor %}
    ]
});
calendar.setOption('locale', 'fr');
calendar.render();
</script>
{% endblock scripts %}
{% endblock %}
<br>
<div class="card-menu">
    <a href="{{url_for('member')}}">Retour au hangar</a>
</div>
</div>
{% endblock content %}
